<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shopMapper">

<!-- 강동기 시작 =============================================== -->
   
<!-- 강동기 끝 ================================================ -->

   
<!--  김예은 시작 ================================================ -->
 
<!--  김예은 끝 ================================================= -->

   
<!-- 김하영 시작 ================================================ -->
   
<!-- 김하영 끝 ================================================= -->


<!-- 민병욱 시작 ================================================= -->

	<!-- @@@@@테스트용 -->
	<resultMap type="ShopInfo" id="shopInfoResultSet">
		<id property="shopNo" column="SHOP_NO" />
		<result property="shopName" column="SHOP_NAME" />
		<result property="shopIntro" column="SHOP_INTRO" />
		<result property="shopOpen" column="SHOP_OPEN" />
		<result property="shopClose" column="SHOP_CLOSE" />
		<result property="shopAddress" column="SHOP_ADDRESS" />
		<result property="shopPhone" column="SHOP_PHONE" />
		<result property="shopBreakStart" column="SHOP_BREAK_START" />
		<result property="shopBreakClose" column="SHOP_BREAK_CLOSE" />
		<result property="shopOffday" column="SHOP_OFFDAY" />
		<result property="maxReservationTime" column="MAX_RESERVATION_TIME" />
		<result property="shopOrigin" column="SHOP_ORIGIN" />
		<result property="shopRename" column="SHOP_RENAME" />
		<result property="shopCate" column="SHOP_CATE" />
		<result property="businessNumber" column="BUSINESS_NUMBER" />
		<result property="memberId" column="MEMBER_ID" />
	</resultMap>
	
	<resultMap type="ReserveInfo" id="reserveInfoResultSet">
		<id property="reserveNo" column="RESERVE_NO" />
		<result property="reserveTime" column="RESERVE_TIME" />
		<result property="reservePeople" column="RESERVE_PEOPLE" />
		<result property="totalPrice" column="TOTAL_PRICE" />
		<result property="reserveStatus" column="RESERVE_STATUS" />
		<result property="reserveName" column="RESERVE_NAME" />
		<result property="reservePhone" column="RESERVE_PHONE" />
		<result property="reserveComment" column="RESERVE_COMMENT" />
		<result property="reserveAd" column="RESERVE_AD" />
		<result property="reservePay" column="RESERVE_PAY" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="shopNo" column="SHOP_NO" />
	</resultMap>
	
	<resultMap type="ReserveMenu" id="reserveMenuResultSet">
		<id property="reserveNo" column="RESERVE_NO" />
		<id property="menuNo" column="MENU_NO" />
		<id property="menuName" column="MENU_NAME" />
		<result property="MenuQty" column="MENU_QTY" />
	</resultMap>
	
	<select id="selectShop" resultMap="shopInfoResultSet">
		select *
		from shop_info
		where shop_no = #{shopNo}
	</select>
	
	<select id="selectReserve" resultMap="reserveInfoResultSet">
		select *
		from reserve_info
		where reserve_no = #{reserveNo}
	</select>
	
	<select id="selectMenu" resultMap="reserveMenuResultSet">
		select *
		from reserve_menu
		where reserve_no = #{reserveNo}
	</select>
	
	<update id="successReserve">
		update reserve_info
		set reserve_status = 'Y',
		    reserve_pay = to_char(sysdate, 'HH24:MI:SS')
		where reserve_no = #{reserveNo}
	</update>

   
<!-- 민병욱 끝 ==================================================== -->
   
   
<!-- 신진식 시작 =================================================== -->
   
<!-- 신진식 끝 ===================================================== -->

   
<!-- 원태원 시작 ==================================================== -->
   
<!-- 원태원 끝 ====================================================== -->



</mapper>
